{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "src/**/Strings.js",
      "options": {
        "trailingComma": "all"
      }
    }
  ]
}
